<div class="head">
  <div class="logo">
    <img src="assets/Logo2Eica.png" alt="Logo Eica">
  </div>
  <div class="menu-bar">

    <ul>
      <li><a href="#">Inicio</a></li>
      <li><a href="#">Nosotros</a></li>
      <li class="desplegar"><a>Nuestros Servicios <i class="fa-solid fa-caret-down"></i></a>
        <div class="submenu">
          <div class="menusito">
            <div class="despleagado"><a href="#">Trámites municipales y registros públicos</a>
              <div class="submenu1">
                <div class="menusitito">
                  <div><a href="#">Declaratoria de fabrica<</a></div>
                  <div><a href="#">Independizaciones</a></div>
                  <div><a href="#">Subdivisiones</a></div>
                  <div><a href="#">Licencias de edificación</a></div>
                  <div><a href="#">Ampliacion</a></div>
                  <div><a href="#">Prescripción adquisitiva</a></div>
                </div>
              </div>
            </div>
            <div class="desp"><a href="#">Ejecución de obras</a>
              <div class="submenu2">
                <div class="menu2">
                  <div><a href="#">Declaratoria de fabrica<</a></div>
                  <div><a href="#">Independizaciones</a></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </li>
      <li><a href="#">Proyectos Concluidos</a></li>
      <li><a href="#">Contactanos</a></li>
    </ul>
  </div>
</div>
